.popular {
  margin-left: 20px;
  margin-right: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav .filmsSeriesButtons {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.nav .ordeFiltButtons {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.yearRelease .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.dropdownList {
  max-height: 400px; /* Ajusta según el tamaño que prefieras */
  overflow-y: auto; /* Habilita el scroll cuando los elementos excedan el límite de altura */
  width: 400px;
}

.dropdownList .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
}
