.Card {
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
}

.listCard {
  border: none;
}

.Card img {
  width: 100%;
  height: auto;
}

.icons {
  width: 100%;
  position: absolute;
  top: 15px;
  display: flex;
  justify-content: space-around;
}

.Card:hover .iconsButton {
  opacity: 1;
}

.iconsButton {
  background: none;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: none;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 3px;
}

@media (max-width: 768px) {
  .iconsButton {
    opacity: 1;
  }
}
