.carouselItemInfo {
  position: absolute;
  top: 55%;
  left: 2%;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  height: 40%;
  width: 50%;
}

.moreInfo {
  padding-left: 5px;
}

@media (max-width: 768px) {
  .moreInfo {
    display: none;
  }
  .carouselItemInfo {
    top: 50%;
  }
}

@media (max-width: 425px) {
  .carouselItemInfo p {
    display: none;
  }
  .carouselItemInfo {
    top: 65%;
    display: inline-flex;
    gap: 10px;
    width: 75%;
  }
  .carouselItemInfo a {
    display: inline-flex;
    height: 25%;
  }
}
